<h1>Welcome to Chatty</h1>
<div class="msgContainer">
    <div class="msg"><span class="user">Mark: </span> nice to be here</div>

    <div data-ng-repeat="msg in messages" class="msg"><span class="user">Mark: </span> {{msg}}</div>
</div>
<p>Enjoy!</p>
<input data-ng-model="user" type="text" placeholder="User"/>
<input data-ng-model="msg" type="text" placeholder="Message"/>
<button data-ng-click="submitMsg()">Send</button>
<button data-ng-click="checkMsgs()">Check</button>
<hr/>
<div data-example>
    Attached to this div is a directive that prints to the console. Check out the JavaScript console.
</div>
