@()<!DOCTYPE html>
<html>
  <head>
    <title data-ng-bind="pageTitle"></title>
    <!-- "images/favicon.ico" -->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/chat-icon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
    @*-- Add More CSS here -- *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
  </head>
  <body>
    @*-- Header -- *@
    <pkHeader></pkHeader>
    @* -- Main Content -- *@
    <div class="container" data-ng-cloak>
      <div data-ng-view></div>
    </div>
    @*-- Footer -- *@
    <footer>
    </footer>
  </body>
</html>
